/*
---------------------------
  FONTS
---------------------------
*/

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Black.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Bold.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-BlackItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-ExtraLight.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Italic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Light.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Medium.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-LightItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-MediumItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Regular.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-SemiBold.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Thin.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-ThinItalic.woff2') format('woff2'),
      url('../fonts/Fira_Sans/FiraSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/*
---------------------------
  ROOT
---------------------------
*/

:root {
  --red: hsl(0, 78.9%, 57.25%);
  --black: hsl(0, 0%, 0%);
  --beige: hsl(30.64, 49.47%, 81.37%);
  --white: hsl(0, 0%, 100%);
}

/*
---------------------------
  TAGS
---------------------------
*/

body {
  position: relative;
  background-color: var(--black);
  font-family: 'Fira Sans';
  color: var(--white);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul,
figure,
img {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

/*
---------------------------
  UTILITY
---------------------------
*/

.flex {
  display: flex;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--col {
  flex-direction: column;
}

.m-2rem {
  margin: 2rem;
}

.ml-2rem {
  margin-left: 2rem;
}

.mr-2rem {
  margin-right: 2rem;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.uppercase {
  text-transform: uppercase;
}

.no-scroll {
  overflow: hidden;
}

.page-title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.pagination {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 4rem;
}

.page-number {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.page-number:hover {
  cursor: pointer;
  filter: brightness(90%) contrast(80%);
}

.page-number:first-child {
  background-color: var(--red);
  color: var(--black);
  border: none;
}

.page-number:first-child:hover {
  filter: none;
}

.btn--toggle {
  color: var(--white);
  border: none;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  background: none;
  outline: none;
}

.btn--toggle:hover {
  cursor: pointer;
  color: var(--black);
  background-color: var(--red);
}

.btn--toggle.active {
  background-color: var(--red);
}

.layout-buttons {
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.date-circle {
  background-color: var(--red);
  border-radius: 50%;
  min-width: 8rem;
  min-height: 8rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--black);
}

.date-circle--top {
  top: -3rem;
  right: 3rem;
}

.date-circle--bottom {
  top: -4rem;
  left: 2rem;
}

.searchbar {
  background-color: transparent;
  color: var(--white);
  border: 1px solid transparent;
  height: 2.5rem;
  padding: 0 1rem;
}

/*
---------------------------
  HEADER
---------------------------
*/

header {
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 160px;
}

.logo-container img {
  filter: invert(100%) sepia(3%) saturate(2592%) hue-rotate(258deg) brightness(118%) contrast(100%);
  margin-right: 1rem;
  width: 12.5rem;
}

nav ul {
  gap: 2rem;
}

nav ul li {
  text-transform: uppercase;
}

.header-left,
.header-right {
  gap: 1rem;
}

.header-right li {
  text-transform: uppercase;
}

main {
  background-color: var(--black);
}

.language-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.language-section:hover span,
.language-section:hover svg,
.search-icon--header:hover,
.hamburger-icon--header:hover {
  cursor: pointer;
  color: var(--red);
}

.chevron-icon--header,
.search-icon--header {
  color: var(--white);
  width: 1rem;
}

.hamburger-icon--header {
  margin-left: 1rem;
  color: var(--white);
  width: 3rem;
}

/*
---------------------------
  HAMBURGER
---------------------------
*/

.hamburger-menu {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: 0.2s ease;
}

.hamburger-menu.active {
  display: flex;
  overflow: hidden;
}

.hamburger-menu.active * {
  color: var(--black);
}

.hamburger-icon-close:hover {
  cursor: pointer;
}

.hamburger-menu nav ul li:hover a,
.hamburger-right .language-section:hover span,
.hamburger-right .language-section:hover svg path,
.hamburger-right .search-icon--header:hover path,
.hamburger-icon-close:hover path {
  cursor: pointer;
  color: var(--white);
  fill: var(--white);
}

.hamburger-left {
  display: flex;
  flex-direction: column;
  background-color: var(--red);
  padding: 2rem;
  gap: 3rem;
  width: 60vw;
}

.hamburger-left .logo-container img {
  filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(226deg) brightness(104%) contrast(103%);
  width: 200px;
}

.hamburger-left ul {
  display: inline-flex;
  flex-direction: column;
}

.hamburger-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--beige);
  flex-grow: 1;
}

.hamburger-right ul {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}

.hamburger-icon-close {
  width: 3rem;
}

.hamburger-right .campaign-logo-container {
  align-self: center;
}

.campaign-logo-container {
  width: 30vw;
}

/*
---------------------------
  HERO
---------------------------
*/

.hero-bg {
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--beige);
  color: var(--black);
  width: 100%;
  height: calc(100vh - 10rem);
}

.hero-bg .campaign-logo-container {
  min-width: 30rem;
  width: 25%;
  max-height: 100%;
}

.hero-bg .campaign-logo-container img {
  height: 100%;
}

.hero {
  justify-content: space-evenly;
  padding: 3rem;
}

.hero-dates {
  gap: 1rem;
}

.hero-today {
  justify-content: flex-start;
  gap: 1rem;
  text-align: end;
}

.hero-today strong {
  font-size: 1.5rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.hero-grid li:nth-child(3),
.hero-grid li:nth-child(4),
.hero-grid li:nth-child(5) {
  grid-row-start: 2;
}

.hero-grid li:nth-child(6),
.hero-grid li:nth-child(7),
.hero-grid li:nth-child(8) {
  grid-row-start: 3;
}

.hero-grid li:nth-child(9),
.hero-grid li:nth-child(10) {
  grid-row-start: 4;
}

.hero-grid li:nth-child(9) {
  grid-column-start: 2;
}

.hero-grid li:nth-child(10) {
  grid-column-start: 3;
}

.hero-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--beige);
  background-color: var(--red);
  color: var(--black);
  width: 7rem;
  padding: 1rem;
}

.hero-day:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);
}

.hero-day strong {
  font-size: 1.3rem;
}

/*
---------------------------
  EVENTS
---------------------------
*/

.home-event-list-container {
  padding: 2rem 0 2rem 30vw;
}

.home-event-list {
  overflow-x: scroll;
  gap: 2rem;
  padding: 5rem;
}

.day-list {
  margin: 5rem;
}

.day-item {
  border: 1px solid var(--black);
  background-color: var(--red);
  color: var(--black);
  width: 6.5rem;
  height: 6.5rem;
  padding: 1rem;
  transition: 0.2s ease;
}

.day-item:hover {
  background-color: var(--black);
  color: var(--white);
}

.day-item strong {
  font-size: 1.5rem;
}

.day-item.current {
  height: 8.5rem;
}

.event-spotlight {
  padding: 4rem 0;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.events-container.layout-list {
  display: block;
}

.events-container .event-item {
  min-width: 16rem;
  width: 30vw;
  margin-bottom: 5rem;
}

.event-item {
  min-width: 16rem;
}

.event-item:nth-child(odd) {
  transform: translateY(2rem);
}

.event-card {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

.event-thumbnail {
  position: relative;
}

.event-thumbnail img {
  width: 100%;
  height: 100%;
}

.event-date {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  z-index: 1;
}

.event-title {
  bottom: 0;
  left: 0;
  background-color: var(--black);
  color: var(--white);
  width: 90%;
  padding: 0.5rem 0.5rem;
  z-index: 1;
}

.event-info {
  position: absolute;
  bottom: -2rem;
  left: 0;
  background-color: var(--black);
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}

.event-location {
  background-color: var(--red);
  color: var(--black);
  padding: 0 0.5rem;
  margin-right: 1rem;
}

.event-list-item {
  width: 100%;
}

.event-list-date {
  width: 20%;
  gap: 1rem;
}

.event-list-location {
  width: 30%;
}

.event-list-title {
  width: 50%;
}

.event-list-date,
.event-list-title,
.event-list-location {
  border: 1px solid currentColor;
  padding: 1rem;
}

.category-container h1 {
  margin: 2rem;
  text-align: center;
  font-size: 3rem;
}

/*
---------------------------
  HOME NEWS
---------------------------
*/

.home-news-container {
  padding: 4rem 2rem;
  padding-right: 0rem;
  justify-content: space-between;
}

.home-news-title-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--black);
  width: 110%;
  height: 110%;
}

.home-news-title {
  position: relative;
  z-index: 0;
  height: 100%;
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 5rem;
}

.home-news-title::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  background-color: var(--red);
  transform: translate(2rem, -2rem);
  width: 18.75rem;
  height: 5rem;
  z-index: -1;
}

.home-news-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
  "A A B B D D"
  "C C C C D D"
  ;
  width: 60rem;
}

#news-item-1 {
  grid-area: A;
}

#news-item-2 {
  grid-area: B;
}

#news-item-3 {
  grid-area: C;
}

.home-news-image {
  grid-area: D;
  height: 100%;
  min-height: 20rem;
  object-fit: cover;
}

.news-item-arrow {
  filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(103%) contrast(103%);
}

.home-news-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--white);
  padding: 1rem;
  transition: 0.2s ease;
}

.home-news-list li:hover {
  background-color: var(--red);
  color: var(--black);
}

.home-news-list li:hover .news-item-arrow {
  visibility: hidden;
}

.home-news-list a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/*
---------------------------
  FOOTER
---------------------------
*/

.footer-banner {
  padding: 0 2rem;
  background-color: var(--beige);
}

.footer-banner h2 {
  font-size: 1.5rem;
  background-color: var(--red);
  color: var(--black);
  padding: 1rem;
  margin-top: 1.5rem;
  gap: 1rem;
  width: fit-content;
}

.footer-campaign-container {
  margin: 4rem;
}

.footer-campaign-container .campaign-logo-container {
  width: 50vw;
}

.newsletter-container {
  color: var(--black);
  width: 50vw;
}

.newsletter-container h1 {
  font-size: 3rem;
}

.newsletter-container form {
  margin: 1rem 0;
}

.newsletter-container form input[type="email"] {
  margin: 1rem 0;
  padding: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid var(--black);
}

.newsletter-container button {
  border: none;
  background-color: var(--red);
  padding: 1rem 2rem;
  width: fit-content;
  font-weight: bold;
  transition: 0.2s ease;
}

.newsletter-container form button:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.newsletter-container a {
  color: var(--red);
  text-decoration: underline;
}

.newsletter-container p {
  font-size: 0.8rem;
}

.footer-tail {
  padding: 6rem 2rem;
}

.footer-tail-items {
  gap: 4rem;
}

.footer-row {
  justify-content: space-between;
  align-items: center;
}

.footer-row h1 {
  font-size: 3rem;
}

.socials,
.orgs {
  align-items: center;
  gap: 0.5rem;
}

.socials svg {
  background-color: var(--white);
  border-radius: 50%;
}

.orgs svg{
  width: 3rem;
  height: auto;
}

.orgs svg path,
.orgs svg path[class="st0"] {
  fill: var(--white);
}

.orgs svg path[class="st1"] {
  fill: var(--black);
}

/*
---------------------------
  SEARCH
---------------------------
*/

.searchbar-container form {
  width: 75%;
  margin-bottom: 2rem;
  border: 1px solid currentColor;
}

.searchbar-container .searchbar {
  width: 100%;
}

.searchbar-container .searchbar::placeholder {
  color: var(--white);
}

.btn--search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 2rem;
  background: none;
  outline: none;
  border: none;
  color: var(--white);
  margin-right: 1rem;
}

.btn--search:hover {
  cursor: pointer;
  color: var(--red);
}

/*
---------------------------
  NEWS PAGE
---------------------------
*/

.news-container {
  gap: 2rem;
}

.news-item {
  justify-content: space-between;
  border: 1px solid var(--white);
  transition: 0.2s ease;
}

.news-item:hover .news-item-desc {
  background-color: var(--red);
  color: var(--black);
}

.news-item:hover .news-item-arrow {
  display: none;
}

.news-item-desc {
  flex-grow: 1;
  max-width: 40%;
  padding: 0.5rem;
  justify-content: space-between;
  transition: 0.2s ease;
}

.news-item-desc h2 {
  width: 100%;
  display: inline-block;
}

.news-item-arrow {
  display: inline-block;
}

.news-item-image {
  width: 60%;
}

.news-item-image img {
  width: 100%;
}

/*
---------------------------
  FILTER
---------------------------
*/

.filter-section {
  color: var(--black);
  border: 1px solid var(--beige);
  margin-bottom: 0;
}

.filter-icons {
  justify-content: flex-start;
  width: 100%;
  background-color: var(--black);
  color: var(--beige);
}

.filter-icon {
  border: 1px solid var(--beige);
  border-top: none;
  border-bottom: none;
  padding: 0.5rem 1rem;
}

.filter-icon:hover {
  background-color: var(--white);
  cursor: pointer;
}

.filter-icon:hover svg path {
  fill: var(--black);
}

.filter-icon.current {
  background-color: var(--beige);
}

.filter-icon svg {
  width: 1rem;
  max-width: 2rem;
}

.filter-icon svg path {
  fill: var(--beige);
}

.filter-icon.current svg path {
  fill: var(--black);
}

.filter-icons-check {
  margin-left: 1rem;
  border: none;
  flex-grow: 1;
  gap: 1rem;
}

.filter-icons-check .filter-icon {
  padding: 0.5rem 0;
}

.filter-icons-check .filter-icon:hover {
  background-color: var(--black);
}

.filter-icons-check .filter-icon:hover svg path {
  fill: var(--beige);
}

.icon-check {
  gap: 0.5rem;
}

.icon-check .filter-icon {
  border: none;
}

.filter-body {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: minmax(30%, auto);
  width: 100%;
  background-color: var(--beige);
  padding: 2rem;
  gap: 1rem;
}

.filter-body-item {
  color: var(--black);
  font-weight: 500;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.filter-body-item:hover {
  text-decoration: underline;
}

.filter-body-item svg {
  width: 100%;
  max-width: 1rem;
  height: 100%;
}

.filter-section-search {
  display: flex;
  align-self: flex-start;
  width: 50%;
  border: 1px solid var(--beige);
  border-top: none;
  margin-bottom: 2rem;
}

.filter-section-search .searchbar {
  flex-grow: 1;
}

.filter-section-search .btn--search svg path {
  fill: var(--beige);
}

.filter-section-search .btn--search:hover svg path {
  fill: var(--red);
}

.filter-section-search .searchbar::placeholder {
  color: var(--beige);
}